<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 设置页面的 基本路径，页面所有资源引入和页面的跳转全部基于 base路径 -->
    <base href="<%=basePath%>">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" />

</head>
<body>
<article class="page-container">
    <form  class="form form-horizontal"  id="addressForm" method="post"  th:action="${umsMemberReceiveAddress!=null?'/order/updateAddress.do':'/order/addAddress.do'}">

        <input id="addressId" name="id" type="hidden" class="input-text"   th:value="${umsMemberReceiveAddress!=null?umsMemberReceiveAddress.id:_}">
        <input id="memberId" name="memberId" type="hidden" class="input-text"   th:value="${umsMember!=null?umsMember.id:_}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>收货人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="name" name="name" type="text" class="input-text" th:value="${umsMemberReceiveAddress!=null?umsMemberReceiveAddress.name:_}"  placeholder="请输入收货人名称"  >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="phoneNumber" name="phoneNumber" type="text" class="input-text" th:value="${umsMemberReceiveAddress!=null?umsMemberReceiveAddress.phoneNumber:_}"  placeholder="请输入电话号码"  >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>省份：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="province" name="province" type="text" class="input-text"  th:value="${umsMemberReceiveAddress!=null?umsMemberReceiveAddress.province:_}" placeholder="请输入省份"  >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>城市：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="city" name="city" type="text" class="input-text" th:value="${umsMemberReceiveAddress!=null?umsMemberReceiveAddress.city:_}"  placeholder="请输入城市"  >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>区/县：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="region" name="region" type="text" class="input-text" th:value="${umsMemberReceiveAddress!=null?umsMemberReceiveAddress.region:_}"  placeholder="请输入区/县"  >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>详细地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="detailAddress" name="detailAddress" type="text" class="input-text"  th:value="${umsMemberReceiveAddress!=null?umsMemberReceiveAddress.detailAddress:_}" placeholder="请输入详细地址"  >
            </div>
        </div>



        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>




    </form>


</article>


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>

<script type="text/javascript">


   /* function formData(){

       var  receiverName = $("#receiverName").val();
       var  receiverMobile = $("#receiverMobile").val();
       var  receiverState = $("#receiverState").val();
       var  receiverCity = $("#receiverCity").val();
       var  receiverDistrict = $("#receiverDistrict").val();
       var  receiverAddress = $("#receiverAddress").val();
       var  paymentType = $("#paymentType").val();


        return {'receiverName':receiverName,'receiverMobile':receiverMobile,'receiverState':receiverState,'receiverCity':receiverCity,
            'receiverDistrict':receiverDistrict,'receiverAddress':receiverAddress,'paymentType':paymentType};
    }*/





   $(function(){

       /*
           使用jquery.validate 进行表单校验
       */
       $("#addressForm").validate({
           rules:{



           },
           messages:{


           },
           submitHandler:function(form){
               //form ： 是原生js dom对象
               /*
                   原生js对象转jquery对象    $(dom对象)
                   jq对象转原生对象  jq对象[0]
               */

               //将表单转换成jq对象
               var jqForm = $(form);



               //使用jquery表单异步提交
               jqForm.ajaxSubmit(function(data){

                   layer.msg(data.msg,{icon:data.status,time:2000},function(){
                       //让父层页面重新刷新一下（重新加载一下）
                       window.parent.location.reload();
                       //关闭当前弹出层
                       parent.layer.closeAll();
                   });
               });

           }

       });


   });


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>