html, body {
  height: 100%;
  min-height: 100%;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}




.col-sm-4 .contact-box.sendtocart {
  display: block;
  animation: yAxis 1s alternate forwards cubic-bezier( 0.84, 0.165,1, 0.44);
}

/*.col-sm-4 .contact-box.sendtocart:before {
  animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}*/

.cart {
  position: fixed;
  top: 20px;
  left: 120px;
  width: 200px;
  height: 35px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.cart i {
  font-size: 25px;
  color: #292d48;
}
.cart:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: #2bd156;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}
.cart.shake {
  animation: shakeCart .4s ease-in-out forwards;
}

@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px));
  }
}
@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px));
    transform：skew(30deg);
  }
}
@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}